<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.minima.node</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/minima</string>
        <string>-daemon</string>
        <string>-rpcenable</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/minima.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/minima.err</string>
</dict>
</plist>
